{% extends 'base.html.twig' %}

{% block body %}
<form method="post" id="contacts-form" action="/vehicles/delete">
    <div class="large-12 columns">
        {% if letter == 'success' %}
            <div class="alert-box success radius" data-alert="">
                <strong>¡Éxito!</strong> los vehículos se han eliminado correctamente.
                <a class="close" href="#">×</a>
            </div>
        {% endif %}
        <table>
            <tbody>
            {% for vehicle in vehicles %}
                <tr>
                    <td width="50" class="text-center"><input type="checkbox" name="delete_ids[]" value="{{ vehicle.id }}" /></td>
                    <td width="50" class="text-center"><img class="placeholder" src="http://placehold.it/64x64/E0E0E0/007095&text={{ vehicle.title | split('')[0] }}"></td>
                    <td width="200"><a href="/vehicles/{{ vehicle.id }}">{{ vehicle.title }}</a> <a href="/vehicles/edit/{{ vehicle.id }}">[editar]</a</td>
                    <td width="200">{{ vehicle.plate }}</td>
                    <td width="200">{% for owner in vehicle.getOwners %} <a href="/contact/{{ owner.id }}">{{ owner.name }}</a> {% endfor %}</td>
                    <td width="200">
                        {% for category in vehicle.getCategories %}
                            <span class="label secondary"><a href="/contacts/category/{{ category.id }}">{{ category.name }}</a></span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    <div class="small-4 columns right">
        <div class="row">
            <div class="small-6 columns">
                <a class="button tiny alert expand" href="#" onclick="$('#contacts-form').submit();">Borrar Selección</a>
            </div>
            <div class="small-6 columns">
                <a class="button tiny success expand" href="/vehicles/add">Agregar Nueva Mercadería</a>
            </div>
        </div>
    </div>
</div>
</form>

{% endblock %}

