{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="large-2 columns">
        <div class="row">
            <h6>Categorías / Marcas</h6>
            <div class="categories">
                {% for category in vehicle.categories %}
                    <a class="label secondary" href="#">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        <hr/>
        <div class="row">
            <h6>Patente</h6>
            <div class="plate">
                <a class="label secondary">{{ vehicle.plate }}</a>
            </div>
        </div>

    </div>
    <div class="large-10 columns">
        <div class="row">
            <h4> {{ vehicle.title }} <small><a href="/vehicles/edit/{{ vehicle.id }}">[editar]</a></small></h4>
            <div class="large-12 columns">
                <label><i class="general fi-clipboard-notes"></i> Descripción:                </label>
                {{ vehicle.description }}
            </div>
            <div class="large-12 columns">
                <label><i class="general fi-clipboard-notes"></i> Observaciones:                </label>
                {{ vehicle.notes }}
            </div>
            <hr>
            <div class="row">
                <ul class="example-orbit" data-orbit>
                    {% for picture in vehicle.picture %}
                        {% if picture.path is not null %}
                            <li>  <img class="placeholder" src="{{ web_image('uploads/pictures/' ~ picture.path ).zoomCrop(1000,500,0,0) }}" > </li>
                        {% endif %}
                    {% endfor %}


                </ul>
                </div>



        </div>
    </div>



{% endblock %}