<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Agenda Moparman{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% javascripts
        '@javascripts'
        '@MDOAgendaMoparmanBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% stylesheets '@MDOAgendaMoparmanBundle/Resources/public/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <script type="text/javascript">
            $(document).ready(function () {
                $(document).foundation();
            });
        </script>
    </head>
    <body>
    <div class="row collapse">
        <div class="small-8 columns">
            {% image '@MDOAgendaMoparmanBundle/Resources/public/images/logo.png' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
        <br/>
        <div class=" small-4 columns">
            <div class="row collapse">
                 <div class="large-10 small-9 columns">
                    <form method="get" action="/forum/posts" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input type="hidden" value="✓" name="utf8"></div>
                         <input type="text" placeholder="Buscar" name="search" id="search" class="search-bar">
                     </form></div>
                 <div class="large-2 small-3 columns">
                     <button onclick="window.location.href = '/search/'+$('#search').val();" type="submit" name="button" class="postfix search button expand">Buscar</button>
                 </div>
            </div>
        </div>
    </div>
    <div class="row">
        <nav role="navigation" data-topbar="" class="top-bar">
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name">

                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
            </ul>


            <section class="top-bar-section">
                <ul class="left">
                    <li><a href="/">Inicio</a></li>
                    <li class="has-dropdown not-click"><a href="/contacts">Contactos</a>
                        <ul class="dropdown">
                            <li><a href="/contacts/add">Nuevo Contacto</a></li>
                            <li><a href="/categories">Categorías</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Vencimientos</a></li>
                    <li class="has-dropdown not-click"><a href="/vehicles">Mercadería</a>
                        <ul class="dropdown">
                            <li><a href="/vehicle-categories">Marcas</a></li>
                            <li><a href="/vehicles/add">Nuevo Item</a></li>
                        </ul>
                    </li>

                </ul>
                <!-- Right Nav Section -->
                <ul class="right">

                    <!--<li><a href="#">Item 2</a></li>-->
                </ul>
            </section></nav> <br/>
    </div>

        <div class="row">
            <div class="large-12 medium-12 columns">
                <ul class="breadcrumbs">
                    {% for item in breadcrumbs %}
                        <li><a href="{{ item.link }}">{{ item.section }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                {% block body %}{% endblock %}
            </div>
        </div>

    <div class="row">
        <hr/>
        <div class="large-12 columns text-right">
            <p>&copy; 2015, <a href="http://milardovich.com.ar/">Sergio Milardovich</a> </p>
        </div>
    </div>
    </body>
</html>

