{% extends 'base.html.twig' %}

{% block body %}
<form method="post" id="categories-form" action="/categories/delete">
    <div class="large-12 columns">
        {% if letter == 'success' %}
            <div class="alert-box success radius" data-alert="">
                <strong>¡Éxito!</strong> las marcas se han eliminado correctamente.
                <a class="close" href="#">×</a>
            </div>
        {% endif %}
        <table>
            <tbody>
        {% for category in categories %}
            <tr>
                <td width="50" class="text-center"><input type="checkbox" name="delete_ids[]" value="{{ category.id }}" /></td>
                <td width="50" class="text-center"><img class="placeholder" src="http://placehold.it/64x64/E0E0E0/007095&text={{ category.name | split('')[0] }}"></td>
                <td width="1500"><strong>{{ category.name }} </strong> ({{ category.getVehicles.count }}) <a href="/vehicle-categories/edit/{{ category.id }}">[editar]</a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>

        <div class="small-4 columns right">
            <div class="row">
                <div class="small-6 columns">
                    <a class="button tiny alert expand" href="#" onclick="$('#categories-form').submit();">Borrar Selección</a>
                </div>
                <div class="small-6 columns">
                    <a class="button tiny success expand" href="/vehicle-categories/add">Agregar Nueva Marca</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
