{% extends 'base.html.twig' %}

{% block body %}
<div class="large-12 columns">
    <table>
        <tbody>
    {% for contact in contacts %}
        <tr>
            <td width="50" class="text-center"><input type="checkbox" name="delete_ids" value="{{ contact.id }}" /></td>
            <td width="50" class="text-center"><img style="width:48px;height: 48px;" width="48" height="48" border="1" /></td>
            <td width="200"><a href="#">{{ contact.name }}</a></td>
            <td width="200">{{ contact.phone }}</td>
            <td width="200">{{ contact.city }}</td>
            <td width="200">
                {% for category in contact.categories %}
                    <span class="label secondary">{{ category.name }}</span>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
