{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="large-2 columns">
        <div class="row">
            {% for picture in contact.picture %}
                    {% if picture.path is not null %}
                        <img style="margin:2px;" class="placeholder" src="{{ web_image('uploads/pictures/' ~ picture.path ).zoomCrop(64,64,0,0) }}" >
                        {% set p = true %}
                    {% endif %}
            {% endfor %}
        </div>
        <hr/>
        <div class="row">
            <h5>Categorías</h5>
            <div class="categories">
                    {% for category in contact.category %}
                        <a class="label secondary">{{ category.name }}</a>
                    {% endfor %}
            </div>
        </div>
        <hr/>
    </div>
    <div class="large-10 columns">
        <div class="row">
            <h4> Información Personal <small><a href="/contact/edit/{{ contact.id }}">[editar]</a></small></h4>
            <div class="large-12 columns">
                <label><i class="general fi-torso"></i>  {{ contact.name }} </label>
            </div>
            <div class="large-12 columns">
                <label><i class="general fi-marker"></i> {{ contact.city }}</label>
            </div>
            <div class="large-12 columns">
                <label><i class="general fi-telephone"></i> {{ contact.phone }} </label>
            </div>
            <div class="large-12 columns">
                <label><i class="general fi-mail"></i> {{ contact.email }} </label>
            </div>
            <div class="large-12 columns">
                <label>Observaciones:
                </label>
                {{ contact.notes }}
            </div>
            <hr>


        </div>
    </div>



{% endblock %}