{% extends 'base.html.twig' %}

{% block body %}
<form method="post" id="duedates-form" action="/due-dates/delete">
    {% if letter == 'success' %}
        <div class="alert-box success radius" data-alert="">
            <strong>¡Éxito!</strong> los vencimientos se han eliminado correctamente.
            <a class="close" href="#">×</a>
        </div>
    {% endif %}
    <table>
        <tbody>
        {% for due in duedates %}
            {% set due_days = date("now").diff(date(due.dueDate)) %}
        <tr>
            <td width="50" class="text-center"><input type="checkbox" name="delete_ids[]" value="{{ due.id }}" /></td>
            <td width="50" class="text-center"><img class="placeholder" src="http://placehold.it/64x64/E0E0E0/007095&text={{ due.description | split('')[0] }}"></td>
            <td width="250"><a href="/due-dates/{{ due.id }}">{{ due.description }}</a></td>
            {% if due.getVehicle == false %}
                <td width="300">{{ due.getVehicleDescription }}</td>
            {% else %}
                <td width="300"><a href="/vehicle/{{ due.getVehicle.id }}">{{ due.getVehicle.title }}</a></td>
            {% endif %}
            <td width="300">

            {% if "now"|date('Y-m-d') > due.dueDate|date('Y-m-d') %}
                <span class="label alert">Vencido hace {{ due_days.days }} días</span>
            {% elseif "now"|date('Y-m-d') > due.dueDate|date_modify("-"~due.reminders~" day")|date('Y-m-d') %}
                <span class="label secondary">Vence en {{ due_days.days }} días</span>
            {% else %}
                <span class="label success">Sin Vencimientos Próximos</span>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="small-4 columns right">
        <div class="row">
            <div class="small-6 columns">
                <a class="button tiny alert expand" href="#" onclick="$('#duedates-form').submit();">Borrar Selección</a>
            </div>
            <div class="small-6 columns">
                <a class="button tiny success expand" href="/due-dates/add">Agregar Vencimiento</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}